<div class="row userLoginBucket d-flex justify-content-center">
  <div class="card col-lg-8 formBucket">
    <div class="card-image col-sm-6">
    <img class="my-4  profile-img-card card-img-top" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120"
      alt="" /></div>
    <div class="card-body col-sm-6">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="my-4 form-control" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <p><a class="btn btn-md col-md-6 btn-warning btn-signin" routerLink="/dashboard">Sign in</a></p>
      <p class="my-2">
        <a href="#" class="forgot-password text-muted">Forgot the password?</a>
      </p>
    </div><!-- /form -->
  </div><!-- /card-container -->
</div>