<div class="fluid-container bg-dark">
  <ul class="nav justify-content-center mainNavigation">
    <li class="nav-item">
      <a class="nav-link" routerLink="/userlogin">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
    <li class="nav-item d-none">
      <a class="nav-link" routerLink="/allcountries">All Countries</a>
    </li>
    <li class="nav-item d-none">
        <a class="nav-link" routerLink="/regions">World Regions</a>
      </li>
  </ul>
</div>